<ul id="nav-list"
    class="flex-wrap px-2 items-center justify-end list-reset flex-1 pt-8 space-y-5 lg:space-y-0 lg:pt-0 lg:flex lg:space-x-10">
    {{ nav:navigation }}
        <li>
            <a href="{{ url }}" aria-label="{{ title }}" class="text-xl text-gray-800 lg:text-lg" @click="isOpen = false">
                {{ title }}
            </a>
        </li>
    {{ /nav:navigation }}
</ul>

{{ if theme:toggle }}
    {{ partial:components/button :title="theme:label" :url="theme:link" variant="{theme:button_variant}" }}
{{ /if }}