<div class="relative">
    <div class="bg-gray-300 absolute h-[669px] w-full -z-10"></div>
    <div class="container">
        <div class="pt-16 pb-10 z-10 md:pt-32">
            <div class="flex flex-col gap-y-8 mx-auto max-w-4xl">
                {{ partial:components/heading :label="title" weight="medium" }}
                {{ if short_description }}
                    {{ partial:components/rich_text :text="short_description" size="md" class="mt-5" }}
                {{ /if }}
                <div class="pt-12">
                    {{ partial:components/picture :image="post_cover" cover="true" class="rounded-2xl max-h-[653px]" }}
                </div>
            </div>
        </div>
        <div class="max-w-2xl mx-auto">
            {{ content }}
                {{ partial src="sets/content/{type}" }}
            {{ /content }}
        </div>
    </div>
    {{ partial:partials/related_posts }}
</div>