<div class="container py-16 md:py-20">
    {{ if title or rich_text }}
        <div class="mb-9 text-center flex flex-col gap-y-9">
            {{ if title }}
                {{ partial:components/heading :label="title" weight="medium" class="max-w-5xl mx-auto" }}
            {{ /if }}
            {{ if rich_text }}
                {{ partial:components/rich_text :text="rich_text" color="lightgray" class="md:prose-p:leading-[40px] mx-auto max-w-3xl" }}
            {{ /if }}
        </div>
    {{ /if }}
    <ul class="grid gap-12 md:grid-cols-2 lg:grid-cols-3">
        {{ features }}
            <li class="group">
                <div
                    class="h-full w-full group-hover:bg-linear-to-r group-hover:from-pink-500 group-hover:via-red-500 group-hover:to-yellow-500 rounded-4xl p-0.5">
                    <div class="group-hover:bg-gray-300 h-full py-14 px-8 rounded-4xl flex flex-col justify-between">
                        <div>
                            {{ if image }}
                                <div class="w-20 h-20 mb-6">
                                    {{ partial:components/picture cover="true" class="rounded-full" }}
                                </div>
                            {{ /if }}
                            {{ partial:components/heading size="h4" :label="title" weight="semibold" class="mb-3" color="gray" }}
                            {{ if rich_text }}
                                {{ partial:components/rich_text :text="rich_text" size="md" class="max-w-md mb-7" }}
                            {{ /if }}
                        </div>
                        {{ if toggle }}
                            {{ partial:components/button :title="label" :url="link" icon="{has_icon}" variant="{button_variant}" class="px-0!" }}
                        {{ /if }}
                    </div>
                </div>
            </li>
        {{ /features }}
    </ul>
</div>
